@font-face {
	font-family: museo;
	src: url(museo300-regular.otf);
}
body {
	font-family: museo;
}
.nag {
    font-weight: bold;
}
ol { 
    counter-reset: nazwa_licznika;
}
ol li { 
    list-style-type: none;
}
ol li:before { 
    content: counters(nazwa_licznika, ".") ". "; 
    counter-increment: nazwa_licznika ;
}
.hidden{
    visibility: hidden;
}
.show{
    visibility: visible;
}
#head_r {
    text-align: right;
}
h1 {
    text-align: center;
}
#podpis {
    text-align: right;
}
.blok {
    display:block;
    width: 100%;
}

#nr_roz {
    text-align: center;
}